body{
    background-color:beige
    
}

.bg-image{
    background-image: url("../Images/Calculator_phone.jpg");
    height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(2px);
    width: 100%;
    background-position: center;
    background-size: cover;

}